<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You</title>
  <link rel="stylesheet" href="../../public/css/Invalid&Farewell.css">
</head>
<body>
  <h1 class="header-title">Thank You</h1>
  <div class="orange-box">
    <h2>Hope you had a great service!</h2>
    <p>Have a good day!</p>
    <img src="../../public/images/smartq-logo.png" alt="SmartQ Logo" class="logo-image">
  </div>
</body>
</html>
