<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queue Invalid</title>
  <link rel="stylesheet" href="../../public/css/Invalid&Farewell.css">
</head>
<body>
  <h1 class="header-title">Queue Invalid</h1>
  <div class="orange-box">
    <h2>Sorry, the queue doesn't exist anymore</h2>
    <p>Try scanning another QR code</p>
    <img src="../../public/images/smartq-logo.png" alt="SmartQ Logo" class="logo-image">
  </div>
</body>
</html>
